.submit-question-body {
    padding: 2em
}
.form-container {
    background: #F0FAF4;
    margin: 1em;
    padding: 1em;
    border-radius: .5em;
    border: #184E2A solid 1px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.submit-question-text-field, .submit-button {
    padding: .5em;
}

.accordion-unit {
    display: flex;
    justify-content: space-between;
}

.accordion-unit-label {
    padding: 1em;
}