.search-body {
    padding: 2em;
}

.unit-container {
    background: #F0FAF4;
    margin: 1em;
    padding: 1em;
    border-radius: .5em;
    border: #184E2A solid 1px;
}

.topics-container {
    margin: 1em;
}

.topic {
    cursor: pointer;
}

.topic:hover {
    color: #0D87BF;
}